/*
 * EcjtuNet Mobile HR
 *
 * @author    Lancelot at EcjtuNet
 * @version   0.2
 * @last-time 2014.7.11
 *
 */


/* color
 ------------------------------------- */

$rixin-red: #f26c46;      // header
$button-gray: #534d4d;    // button
$tag-light: #c3b099;      // tag
$tag-dark: #a0835f;
$footer-bgcolor: #282828; // footer

/* font
 ------------------------------------ */

$container-font: normal 16px/32px ZHSRXT, Microsoft Jhenghei, Microsoft Yahei, Arial, sans-serif;
$container-color: #534d4d;

$footer-font: normal 14px/24px Helvetica, Arial, sans-serif;

/* layout
 ------------------------------------ */

$border-height: 8px;

$container-padding: 50px;

/* path
 ------------------------------------ */

$logo-imagepath: "../images/logo.png";                     // header
$header-border-imagepath: "../images/header-border.png";

$tech-imagepath: "../images/tech.png";                     // container
$news-imagepath: "../images/news.png";
$prd-imagepath: "../images/prd.png";
$manage-imagepath: "../images/manage.png";

$click-imagepath: "../images/clickme.png";
$click-act-imagepath: "../images/clickme-active.png";

$tag-imagepath: "../images/tag.png";                       // nav
$us-imagepath: "../images/us.png";

/* file loading
 ------------------------------------ */


//----- Container -----

#container {
	width: 100%;
	padding-top: $container-padding + $border-height;

	p {
		width: 261px;
		margin: 16px auto;
		font: $container-font;
		color: $container-color;
	}
	ul li {
		text-align: center;
		a {
			display: inline-block;
			width: 261px;
			height: 48px;
			margin: 12px auto;
		}
		a:active {
			margin-right: -16px;
		}
		#tech {
			background: url($tech-imagepath) center center no-repeat;
		}
		/* #tech:active {
			background: url() center center no-repeat;
		} */
		#news {
			background: url($news-imagepath) center center no-repeat;
		}
		/* #news:active {
			background: url() center center no-repeat;
		} */
		#prd {
			background: url($prd-imagepath) center center no-repeat;
		}
		/* #prd:active {
			background: url() center center no-repeat;
		} */
		#manage {
			background: url($manage-imagepath) center center no-repeat;
		}
		/* #manage:active {
			background: url() center center no-repeat;
		} */
	}
	h2 {
		text-align: center;
		margin: 0 auto;
		padding: 24px 0 36px;
		a {
			display: inline-block;
			width: 110px;
			height: 36px;
			background: url($click-imagepath) center center no-repeat;
			text-align: center;
			text-decoration: none;
			font: normal 18px/36px Microsoft Yahei, Arial, sans-serif;
			color: #fff;
		}
		a:active {
			background: url($click-act-imagepath) center center no-repeat;
			color: $container-color;
		}
	}
}

header {
	position: absolute;
	top: 0;
	width: 100%;
	padding-bottom: $border-height;

	h1 {
		background: $rixin-red;
		height: $container-padding;
		a#logo {
			display: inline-block;
			width: 163px + 24px;
			height: $container-padding;
			background: url($logo-imagepath) center center no-repeat;
		}
	}
	#border {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: $border-height;
		background: url($header-border-imagepath) bottom left repeat-x;
	}
}


footer {
	width: 100%;
	padding: 24px 0;
	background: $footer-bgcolor;

	p {
		margin: 0 0 14px 0;
		text-align: center;
		letter-spacing: .05em;
		font: $footer-font;
		color: #fff;
	}
}

nav {
	position: fixed;
	top: 0;
	right: 48px;

	#tag {
		width: 36px;
		height: 50px;
		margin: 0 auto;
		background: url($tag-imagepath) no-repeat;
	}
	a#about {
		display: inline-block;
		width: 64px;
		height: 64px;
		margin-top: 36px;
		background: url($us-imagepath) no-repeat;
	}
	a#about:before {
		content: "";
		position: absolute;
		left: 31px;
		top: 42px;
		display: inline-block;
		width: 2px;
		height: 44px;
		background: $tag-dark;
	}
	a#about:active {
		margin-top: 48px;
	}
	a#about:active:before {
		height: 44px + 12px;
	}
}