/*
 * EcjtuNet Mobile HR
 *
 * @author    Lancelot at EcjtuNet
 * @version   0.2
 * @last-time 2014.7.11
 *
 */
/* color
 ------------------------------------- */
/* font
 ------------------------------------ */
/* layout
 ------------------------------------ */
/* path
 ------------------------------------ */
/* file loading
 ------------------------------------ */
#container {
  width: 100%;
  padding-top: 58px; }
  #container p {
    width: 261px;
    margin: 16px auto;
    font: normal 16px/32px ZHSRXT, Microsoft Jhenghei, Microsoft Yahei, Arial, sans-serif;
    color: #534d4d; }
  #container ul li {
    text-align: center;
    /* #tech:active {
    	background: url() center center no-repeat;
    } */
    /* #news:active {
    	background: url() center center no-repeat;
    } */
    /* #prd:active {
    	background: url() center center no-repeat;
    } */
    /* #manage:active {
    	background: url() center center no-repeat;
    } */ }
    #container ul li a {
      display: inline-block;
      width: 261px;
      height: 48px;
      margin: 12px auto; }
    #container ul li a:active {
      margin-right: -16px; }
    #container ul li #tech {
      background: url("../images/tech.png") center center no-repeat; }
    #container ul li #news {
      background: url("../images/news.png") center center no-repeat; }
    #container ul li #prd {
      background: url("../images/prd.png") center center no-repeat; }
    #container ul li #manage {
      background: url("../images/manage.png") center center no-repeat; }
  #container h2 {
    text-align: center;
    margin: 0 auto;
    padding: 24px 0 36px; }
    #container h2 a {
      display: inline-block;
      width: 110px;
      height: 36px;
      background: url("../images/clickme.png") center center no-repeat;
      text-align: center;
      text-decoration: none;
      font: normal 18px/36px Microsoft Yahei, Arial, sans-serif;
      color: #fff; }
    #container h2 a:active {
      background: url("../images/clickme-active.png") center center no-repeat;
      color: #534d4d; }

header {
  position: absolute;
  top: 0;
  width: 100%;
  padding-bottom: 8px; }
  header h1 {
    background: #f26c46;
    height: 50px; }
    header h1 a#logo {
      display: inline-block;
      width: 187px;
      height: 50px;
      background: url("../images/logo.png") center center no-repeat; }
  header #border {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8px;
    background: url("../images/header-border.png") bottom left repeat-x; }

footer {
  width: 100%;
  padding: 24px 0;
  background: #282828; }
  footer p {
    margin: 0 0 14px 0;
    text-align: center;
    letter-spacing: .05em;
    font: normal 14px/24px Helvetica, Arial, sans-serif;
    color: #fff; }

nav {
  position: fixed;
  top: 0;
  right: 48px; }
  nav #tag {
    width: 36px;
    height: 50px;
    margin: 0 auto;
    background: url("../images/tag.png") no-repeat; }
  nav a#about {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-top: 36px;
    background: url("../images/us.png") no-repeat; }
  nav a#about:before {
    content: "";
    position: absolute;
    left: 31px;
    top: 42px;
    display: inline-block;
    width: 2px;
    height: 44px;
    background: #a0835f; }
  nav a#about:active {
    margin-top: 48px; }
  nav a#about:active:before {
    height: 56px; }
